<!DOCTYPE html>
<html>
<head>
<title>Artists</title>
<link rel="stylesheet" href='/static/css/artist.css'>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
</head>
<body>
  <section class="MiddleHalf"> 
 
   
    <div calss="firstHalf"> 
      
      <img src="{{.Artist.Image}}" alt="">
    
      <p class="Helper">Members:</p>
      {{range .Artist.Members}}
      <p class="Members">{{.}}</p>
      
        {{end}}

      
    </div>

 
    <div class="secondHalf"> 
   <div class="firstPartFromSecondHalf">
    <p class="Name"> {{.Artist.Name}}</p>
    <p class="Date">Creation date: {{.Artist.CreationDate}}</p>
    <p class="Album">First album: {{.Artist.FirstAlbum}}</p>
    

           

   </div>



 <div class="secondPartFromSecondHalf">

  {{range $location, $date := .LocADate.DatesLocations}}
  <p class="Location"> Location:{{$location}}</p>
  {{range $date}}
  <li class="Dates">Date:{{.}}</li>
  {{end}}
  
    {{end}}
 </div>
</div>
  </section>
  <section class="mapPosition">
    <div id="map"  class="maps"></div>
  </section>

  <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoibW90b2JlIiwiYSI6ImNsbG0xdnQzYTJqZG8zZ21neTJuN28wemoifQ.U2Zp2USylpY-WQyXi8TYfw';
    "{{with index .Location 0}}"
      var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v12', // Choose the map style
          center: ["{{index . 0}}","{{index . 1}}"], // Coordinates of the center of the map
          zoom: 10// Initial zoom level
      });
"{{end}}"
      // Add a marker at the specified coordinates
      {{range .Location}}
    new mapboxgl.Marker()
          .setLngLat(["{{index . 0}}", "{{index . 1}}"])
          .addTo(map);
      {{end}}
      map.addControl(new mapboxgl.NavigationControl());
  </script>

</body>



</html>