
body{
  background: #262626;
margin: 0;
}

.MiddleHalf {
  
    

  margin-bottom: 20px;
background: #262626;
margin: 0;
padding-top: 50px;
padding-left: 100px;
padding-right: 100px;
display: flex;

}



.Name,
.Date,
.Album,
.Members,
.Location {
  color: white;
}
.Img:hover{
  box-shadow: 0px 0px 10px #ffffff;
}
.Name{
  margin: 0;
 color: #E6E6E6;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Name:hover{
  color: #e6e6e6d8;;
}
.Date{
  margin: 0;
  color: #D4AF66;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Date:hover{
  color: #d4af66dc;
}
nav#example-2 {
  border: 1px solid #DEE1E6;
}

nav#example-2 ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav#example-2 ul li {
  list-style: none;
  margin-right: 15px;
  padding: 7px 10px;
}

nav#example-2 ul li a {
  text-decoration: none;
  color: #737171;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

nav#example-2 ul li a:hover {
  color: #5b5b5b;
}

nav#example-2 ul li:last-child {
  margin-right: 0;
}
.Album{
  margin: 1;
  color: #C2C2C2;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Album:hover{
  color: #c2c2c2da;;
}
.Members{
  color: #D4AF66;
font-feature-settings: 'cpsp' on;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
    padding-left: 10px;
}
.Members:hover{
  color: #d4af66c9;
}
.Helper{
 color: rgb(255, 255, 255);
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Helper:hover{
color: rgba(255, 255, 255, 0.831);;
}
.Location{
  color: #C2C2C2;

font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 17.5px; /* 116.667% */
}
.Location:hover{
  color: #c2c2c2ca;
}

.Dates{
  color: #E3E3E3;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 17.5px;
}
.Dates:hover{
  color: #e3e3e3cb;;
}
.secondHalf{
  padding-left: 30px; 
  align-content: baseline;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
.mapPosition{
padding: 30px
}
.maps{
  height: 800px;
  width: 100%;

}


@media (max-width:1020px) {
  .secondHalf{
  
    display: block;
  }  
}



@media (max-width:702px) {
  .secondHalf{
  
    display: block;
  } 
  .maps{
    height: 400px;
  }
  .Name{
    font-size: 30px;
  }
  .Date{
    font-size: 18px;
  }
}


@media (max-width:600px) {
  .MiddleHalf{
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 20px;
  }
  .secondHalf{
    padding: 0;
  }
  .maps{
    height: 400px;
  }
}
