.artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
     background-color: #272b33;
margin: 0;
padding-top: 50px;
padding-left: 100px;
padding-right: 100px;
}
.card-title{
  text-decoration: none;
}
body{
margin: 0;
}

.artist{
  padding: 10px;
}
.titleHalf{

width: 100%;
height:150px;
background-color: white;

color:black;

}


h2{
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 60px;
 
    
}

.Title{
font-size: 60px;
}

@media (max-width:460px){
.Title{
 font-size: 37px;
}
}
@media (max-width:320px){
.Title{
 font-size: 25px;
}
}
h5{
  color:white;
  font-weight: 900;
}


.endHalf{
height: 20px;
  background-color: #202329;
}